* {
    margin: 0%;
    padding: 0%;
}

.abs {
    align-content: center;
    background-image: url(bground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.inside {
    display: flex;
    margin-top: 14%;
    margin-left: 20%;
    margin-bottom: 0%;
}

.name {
    font-size: 160%;
    font-family: monospace;
    word-spacing: 0.5rem;
    letter-spacing: 0.3rem;
    margin-right: 5rem;
}

.profile {
    margin-top: 10%;
    width: 100%;
    height: 30%;
}